body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: repeating-linear-gradient(
    45deg,
    #15151b 0px,
    #15151b 20px,
    #1b1b24 20px,
    #1b1b24 40px
    );
  }
  
  header {
    width: 100%; /* Full width so content can center */
  display: flex;
  align-items: center;
  justify-content: center; /* This centers the child elements horizontally */
  margin-top: 20px;
  text-align: center;
  }
  
  .site-logo {
    width: 30%;
    max-width: 200%;
    height: auto;
  }

  .container {
    justify-content: center;

  }

  h1 {
    text-align: center;
    color:white;
  }
  
  .back-button{
    background-color: #9e9e9e;
    color: white;
    border: none;
    padding: 8px 8px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: block;
    margin: 1% auto;
    text-align: center;
    width:fit-content;
  }

  button, .button{
    background-color: #9e9e9e;
    color: white;
    border: none;
    padding: 8px 8px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
    text-decoration: none;
  }
  
  button:hover, .button:hover, .back-button:hover {
    background-color: #cccccc;
  }
  
  button:focus, .button:focus, .back-button:focus {
    outline: none;
  }



  .binder-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }
  
  .card-box {
    position: relative;
    background-image: linear-gradient(
    #15151b 10%,
    #2e2e3d 50%
    );
    border-radius: 10px;
    box-shadow: 0 40px 50px black;
    padding: 10px;
    width: 200px;
    text-align: center;
    border: 1px solid white;
  }
  
  .card-box img {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #52526d;
    
  }
  
  .card-box .quantity-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #22222271;
    color: white;
    border-radius: 12px;
    padding: 5px 10px;
    font-size: 14px;
  }
  
  .card-box button {
    margin-top: 8px;
    padding: 6px 12px;
    font-size: 14px;
    border: none;
    background-color: #444;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  .quantity-badge, .foil-badge {
    position: absolute;
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 8px;
    color: white;
  }
  
  .quantity-badge {
    top: 8px;
    right: 8px;
    background-color: #222;
  }
  
  .foil-badge {
    top: 8px;
    left: 8px;
    background-color: #0077ccab;
  }
  
  .foil-badge::before {
    content: "✨ ";
  }

  .foil-badge.f {
    background-color: #4c6ef5ab; /* Blue */
  }
  
  .foil-badge.pf {
    background-color: #d4af37ab; /* Gold */
  }

  .collector-badge {
    position: absolute;
    bottom: 30px;
    left: 12px;
    background-color: #000000;
    color: white;
    padding: 2px 6px;
    font-size: 12px;
    border-radius: 6px;
    font-family: monospace;
  }



  @media (max-width: 768px) {
    .form-wrapper {
      flex-direction: column;
      align-items: center;
    }
  }
  